[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
environ = "*"
django-environ = "*"
django-on-heroku = "*"
gunicorn = "*"
django-heroku = "*"
djangorestframework = "*"
django-registration-redux = "*"

[dev-packages]

[requires]
python_version = "3.9"
